<div class="row">
  <div class="small-12 columns">

    <h1>Fermentables</h1>

    <%= link_to 'New Fermentable', new_user_my_fermentable_path, class: 'button success' %>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @fermentables.each do |fermentable| %>
          <tr>
            <td><%= fermentable.name %></td>
            <td><%= link_to 'Edit', edit_user_my_fermentable_path(current_user, fermentable), class: 'button' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
