<div class="row">
  <div class="small-12 columns">

    <h1>Yeasts</h1>

    <%= link_to 'New yeast', new_user_my_yeast_path, class: 'button success' %>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @yeasts.each do |yeast| %>
          <tr>
            <td><%= yeast.name %></td>
            <td><%= link_to 'Edit', edit_user_my_yeast_path(current_user, yeast), class: 'button' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
