<div class="row">
  <div class="small-12 columns">
    <h1>New Yeast</h1>

    <%= form_for(@yeast, url: user_my_yeasts_path) do |f| %>
      <% if @yeast.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@yeast.errors.count, "error") %> prohibited this yeast from being saved:</h2>

          <ul>
          <% @yeast.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="small-4 columns">
          <%= f.label :name %>
        </div>
        <div class="small-8 columns">
          <%= f.text_field :name %>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <%= f.submit 'Create Yeast', class: 'button' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
