<div class="row">
  <div class="small-12 columns">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="row">
        <div class="small-4 columns">
          <%= f.label :email, class: 'right' %>
        </div>
        <div class="small-8 columns">
          <%= f.email_field :email, autofocus: true %>
        </div>
      </div>

      <div class="row">
        <div class="small-4 columns">
          <%= f.label :password, class: 'right' %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>
        <div class="small-8 columns">
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      </div>

      <div class="row">
        <div class="small-4 columns">
          <%= f.label :password_confirmation, class: 'right' %>
        </div>
        <div class="small-8 columns">
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: 'button' %>
      </div>
    <% end %>
  </div>
</div>
