<p id="notice"><%= notice %></p>

<h1>Hops</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hops.each do |hop| %>
      <tr>
        <td><%= link_to 'Show', hop %></td>
        <td><%= link_to 'Edit', edit_hop_path(hop) %></td>
        <td><%= link_to 'Destroy', hop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hop', new_hop_path %>
