<% @recipes.each do |recipe| %>
  <div class="media-object">
    <div class="media-object-section">
    <%= image_tag "beer.png", :class => "thumbnail" %>
  </div>
    <div class="media-object-section">
      <h4><%= link_to recipe.name, recipe %><small> | <%= recipe.style_name %></small></h4>
      <h6 class="subheader"><%= recipe.user_email %></h6>
      <p><%= recipe.description %></p>
    </div>
  </div>
  <hr>
<% end %>