<div class="row">

  <div class="small-1 medium-4 columns">
    <div class="row">
      <div class="small-12 show-for-medium columns" >
        <div class="callout secondary">
          <h5>Find a recipe</h5>
          <hr>
          <%= render partial: 'searches/form' %>
        </div>
      </div>
    </div>
  </div>

  <div class="small-11 medium-8 columns">
    <div class="row">
      <div class="small-12 columns">
        <ul class="menu">
        <li class="active"><%= link_to "Recipes", recipes_path %></li>
        <li><a>+Create</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <hr>
        <%= render partial: 'recipe_list' %>
      </div>
    </div>

  </div>
</div>
