<div class="row">
  <div class="small-12 columns">

    <div class="callout primary">

      <div class="media-object">
        <div class="media-object-section">
          <%= image_tag "beer.png", :class => "thumbnail" %>
        </div>
        <div class="media-object-section">
          <h4><%= @recipe.name %><small> | <%= @recipe.style_name %></small></h4>
          <h6 class="subheader"><%= @recipe.user_email %></h6>
          <p><%= @recipe.description %></p>
        </div>
      </div>

    </div>

    <div class="callout secondary">

      <h4><i class="fa fa-snowflake-o" aria-hidden="true"></i> Fermentables</h4>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Amount</th>
          </tr>
        </thead>
        <% @recipe.fermentables.each do |fermentable| %>
          <tr>
            <td><%= fermentable.name %></td>
            <td><%# fermentable.measurement %></td>
          </tr>
        <% end %>
      </table>

    </div>

    <div class="callout secondary">

      <h4><i class="fa fa-rocket" aria-hidden="true"></i> Hops</h4>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Amount</th>
          </tr>
        </thead>
        <% @recipe.hops.each do |hop| %>
          <tr>
            <td><%= hop.name %></td>
            <td><%# hop.measurement %></td>
          </tr>
        <% end %>
      </table>

    </div>

    <div class="callout secondary">

      <h4><i class="fa fa-umbrella" aria-hidden="true"></i> Yeast</h4>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Amount</th>
          </tr>
        </thead>
        <% @recipe.yeasts.each do |yeast| %>
          <tr>
            <td><%= yeast.name %></td>
            <td><%# yeast.measurement %></td>
          </tr>
        <% end %>
      </table>

    </div>

  </div>
</div>
