<%= form_for(fermentable) do |f| %>
  <% if fermentable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fermentable.errors.count, "error") %> prohibited this fermentable from being saved:</h2>

      <ul>
      <% fermentable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
