<p id="notice"><%= notice %></p>

<h1>Fermentables</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fermentables.each do |fermentable| %>
      <tr>
        <td><%= link_to 'Show', fermentable %></td>
        <td><%= link_to 'Edit', edit_fermentable_path(fermentable) %></td>
        <td><%= link_to 'Destroy', fermentable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fermentable', new_fermentable_path %>
