<div class="row">
  <div class="small-12 columns">
    <h3><%= style.name %></h3>
    <ul>
      <li><strong>Family:</strong> <%= style.style_family %></li>
      <li><strong>Origin:</strong> <%= style.style_origin %></li>
    </ul>
  </div>
</div>
