<div class="row">
  <div class="small-12 columns">
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="row">
      <div class="small-4 columns">
        <%= f.label :email, class: 'right' %>
      </div>
      <div class="small-8 columns">
        <%= f.email_field :email, autofocus: true %>
      </div>
    </div>

    <div class="row">
      <div class="small-4 columns">
        <%= f.label :password, class: 'right' %>
      </div>
      <div class="small-8 columns">
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
    </div>

      <% if devise_mapping.rememberable? -%>
      <div class="row">
        <div class="small-12 columns">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      </div>
      <% end -%>

      <div class="row">
        <div class="small-4 columns">
          <%= f.submit "Log in", class: 'button' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
