<%= form_tag('search', method: :get) do %>
  <div class="input-group">
    <span class="input-group-label">
      <i class="fa fa-search" aria-hidden="true"></i>
    </span>
    <%= text_field_tag :q, nil, placeholder: 'ale, yeast, IPA...', class: 'input-group-field' %>
    <div class="input-group-button">
      <%= submit_tag 'Search', class: 'button' %>
    </div>
  </div>
<% end %>
