<div class="row">
  <div class="small-12 columns">
    <h1>Recipes</h1>

    <%= render partial: 'searches/form' %>

    <div class="row">
      <div class="small-12 columns">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Style</th>
              <th></th>
              <th>Created by</th>
            </tr>
          </thead>

          <tbody>
            <% @search.recipes.each do |recipe| %>
              <tr>
                <td><%= recipe.name %></td>
                <td><%= recipe.description %></td>
                <td><%= recipe.style_name %></td>
                <td><%= link_to 'Show', recipe, class: 'button' %></td>
                <td><%= recipe.user_email %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
