<%= form_for(yeast) do |f| %>
  <% if yeast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(yeast.errors.count, "error") %> prohibited this yeast from being saved:</h2>

      <ul>
      <% yeast.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
