<p id="notice"><%= notice %></p>

<h1>Yeasts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yeasts.each do |yeast| %>
      <tr>
        <td><%= link_to 'Show', yeast %></td>
        <td><%= link_to 'Edit', edit_yeast_path(yeast) %></td>
        <td><%= link_to 'Destroy', yeast, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Yeast', new_yeast_path %>
