<% @recipes.each do |recipe| %>
  <div class="media-object">
    <div class="float-right show-for-medium">
      <%= link_to 'Edit', edit_user_my_recipe_path(current_user, recipe), class: 'hollow button' %>
      <%= link_to 'Delete', user_my_recipe_path(current_user, recipe), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %>
    </div>

    <div class="media-object-section">
      <%= image_tag "beer.png", :class => "thumbnail" %>
    </div>

    <div class="media-object-section">
      <h4><%= link_to recipe.name, recipe %><small> | <%= recipe.style_name %></small></h4>
      <h6 class="subheader"><%= recipe.user_email %></h6>
      <p><%= recipe.description %></p>
    </div>

  </div>
  <hr>
<% end %>