<div class="row">
  <div class="small-12 columns">
    <h1>Editing <%= @recipe.name %></h1>
  </div>
</div>


<div class="row">
  <div class="small-12 columns">
    <%= form_for(@recipe, url: user_my_recipe_path) do |f| %>
      <% if @recipe.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

          <ul>
          <% @recipe.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="small-4 columns">
          <%= f.label :name %>
        </div>
        <div class="small-8 columns">
          <%= f.text_field :name %>
        </div>
      </div>

      <div class="row">
        <div class="small-4 columns">
          <%= f.label :description %>
        </div>
        <div class="small-8 columns">
          <%= f.text_area :description %>
        </div>
      </div>

      <div class="row">
        <div class="small-4 columns">
          <%= f.label :style %>
        </div>
        <div class="small-8 columns">
          <%= f.select :style_id, Style.all.collect { |p| [ p.name, p.id ] }, include_blank: true %>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
        <%= f.submit 'Save', class: 'button' %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h2>Fermentables</h2>
    <ul>
      <% @recipe.fermentables.each do |fermentable| %>
        <li><%= fermentable.name %></li>
      <% end %>
    </ul>

    <h3>Add Fermentable</h3>

    <%= form_for(@recipe.fermentables_measurements.new) do |f| %>
      <%= f.select(:fermentable_id, options_from_collection_for_select(Fermentable.all, "id", "name")) %>
      <%= f.hidden_field :recipe_id %>
      <%= f.submit 'Add Fermentable', class: 'button' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h2>Hops</h2>
    <ul>
      <% @recipe.hops.each do |hop| %>
        <li><%= hop.name %></li>
      <% end %>
    </ul>

    <h3>Add Hops</h3>

    <%= form_for(@recipe.hops_measurements.new) do |f| %>
      <%= f.select(:hop_id, options_from_collection_for_select(Hop.all, "id", "name")) %>
      <%= f.hidden_field :recipe_id %>
      <%= f.submit 'Add Hops', class: 'button' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h2>Yeast</h2>
    <ul>
      <% @recipe.yeasts.each do |yeast| %>
        <li><%= yeast.name %></li>
      <% end %>
    </ul>

    <h3>Add Yeast</h3>

    <%= form_for(@recipe.yeasts_measurements.new) do |f| %>
      <%= f.select(:yeast_id, options_from_collection_for_select(Yeast.all, "id", "name")) %>
      <%= f.hidden_field :recipe_id %>
      <%= f.submit 'Add Yeast', class: 'button' %>
    <% end %>
  </div>
</div>
