<div class="row">
  <div class="small-12 columns">
    <h1>New Recipe</h1>

    <%= form_for(@recipe, url: user_my_recipes_path) do |f| %>
      <% if @recipe.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

          <ul>
          <% @recipe.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="small-4 columns">
          <%= f.label :name %>
        </div>
        <div class="small-8 columns">
          <%= f.text_field :name %>
        </div>
      </div>

      <div class="row">
        <div class="small-4 columns">
          <%= f.label :description %>
        </div>
        <div class="small-8 columns">
          <%= f.text_area :description %>
        </div>
      </div>

      <div class="row">
        <div class="small-4 columns">
          <%= f.label :style %>
        </div>
        <div class="small-8 columns">
          <%= f.select :style_id, Style.all.collect { |p| [ p.name, p.id ] }, include_blank: 'Choose a style' %>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <%= f.submit 'Create recipe', class: 'button' %>
        </div>
      </div>
    <% end %>

  </div>
</div>
