<div class="row">
  <div class="small-12 columns">
    <h1>Editing Hop</h1>

      <%= form_for(@hop, url: user_my_hop_path) do |f| %>
        <% if @hop.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@hop.errors.count, "error") %> prohibited this hop from being saved:</h2>

            <ul>
            <% @hop.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="row">
          <div class="small-4 columns">
            <%= f.label :name %>
          </div>
          <div class="small-8 columns">
            <%= f.text_field :name %>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <%= f.submit 'Save', class: 'button' %>
          </div>
        </div>
      <% end %>
    </div>
</div>
