<div class="row">
  <div class="small-12 columns">

    <h1>Hops</h1>

    <%= link_to 'New hop', new_user_my_hop_path, class: 'button success' %>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @hops.each do |hop| %>
          <tr>
            <td><%= hop.name %></td>
            <td><%= link_to 'Edit', edit_user_my_hop_path(current_user, hop), class: 'button' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
