<div class="row">
  <div class="small-12 columns">
    <div id="flash">
      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <div class="callout <%= name.to_s == 'notice' ? 'success' : 'alert' %>" data-closable>
            <p class="text-center lead-md ptl">
              <%= msg.html_safe %>
            </p>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
