<div class="title-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">MEGAbrew</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <%= render partial: 'layouts/navigation/user_menu' %>
  </div>
</div>
