<ul class="menu vertical">
  <li><%= link_to 'My recipes', user_my_recipes_path(current_user) %></li>
  <li><%= link_to 'Create recipe', new_user_my_recipe_path(current_user) %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
</ul>
