<ul class="dropdown menu" data-dropdown-menu>
  <li>
    <a class="hide-for-medium" href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
    <a class="show-for-medium"href="#"><%= current_user.email %></a>
    <%= render partial: "layouts/navigation/#{current_user.account_type}_account_options" %>
  </li>
</ul>
